/* Navbar.css */
.navbar {
    width: 85%;
    left: 190px;
    position: absolute;
    top: 0px;
    background-color: var(--crema);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    }
    .logout-button-container {
        flex: 1; /* Para que el botón "Salir" ocupe todo el espacio restante */
        text-align: right; /* Alinea el botón a la derecha */
      }
      
      .logout-button {
        background-color: var(--amarillo); /* Color de fondo azul */
        color: #fff; /* Color del texto blanco */
        border: none;
        border-radius: 5px;
        padding: 10px 10px;
        cursor: pointer;
        margin: 30px;
        text-transform: uppercase;
        font-weight: bold;
      }
      
      .logout-button:hover {
        background-color: rgb(212, 171, 8) ; /* Cambio de color al pasar el mouse */
      }
      .salir{
        display: flex;
    justify-content: flex-end;
      }